body{
    color:green;
    background-color:pink;
}

 p{ 
    font-family:'Times New Roman',Times,serif; 
    font-size: xx-large; 
     font-style: italic; 
}
img{
    height: 500px;
    width: 500px;
}
@media (max-width: 600px) {
}
video{
    width: 100%;
}

ol{
    list-style-type:disc;
}

h1{
    padding:50px;
    border: 1px solid red;
    margin:100px;
}

button{
    background-color:blueviolet;
    padding:100px;
    margin:100px;
}
button:hover{
    background-color:brown ;
}

table, th, td{
border:1px solid white;
border-collapse:collapse;
}

nav{
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px){
    nav{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

#p1{
    font-style: italic;
}
#p2{
    font-style: normal;
}
.group{
    font-size:xx-large;
}
.grid{
    display: grid;
}
@media(min-width: 1024px){
    .grid{
        displsy: grid;
        grid-template-columns: 33% 33% 33%;
    }
}